body{
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid{
    padding: 0 2rem;
}

form{
    background-color: #fff;
    margin-top: 150px;
    padding: 8rem 2rem 2rem 2rem;
    padding-right: 0;
    padding-left: 0;
    border-radius: 2px;
    text-align: center;
    position: relative;
}

#logo{
    width: 150px;
    height: 150px;
    background-color: #393939;
    border-radius: 50%;
    box-shadow: 2px 2px 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    width: 60%;
}

input{
    width: 80%;
    margin-bottom: 0.5rem;
    background-color: #f0f0f0;
    border: none;
    height: 35px;
    border-radius: 3px;
    direction: rtl;
    padding: 0 1rem;
}

@font-face {
    font-family: EmojiSymbols;
    src: url(../font/EmojiSymbols-Regular-37883244862ada81e50a5c43f090ab5b696a4d27c5e66d321546a1638bb1e682.woff);
}

input[type=submit]{
    background-color: #41cadc;
    height: 45px;
    font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #c3c3c3;
}
:-moz-placeholder {
    color: #c3c3c3;
}
::-moz-placeholder {
    color: #c3c3c3;
}
::-ms-input-placeholder {
    color: #c3c3c3;
}